.App{
  width: 100%;
  height: 100vh;
}

.centralized{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cloudy{
  background-image: url('./assets/cloudy.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clear{
  background-image: url('./assets/sunny.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main{
  height: 80vh;
  width: 300px;
  background-image: linear-gradient(180deg, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.75));
}

.search-input{
  border: none;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 0rem .75rem;
  height: 2rem;
  width: auto;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0px 5px rgb(0, 0, 0, 0.5);
}

.data-box{
  height: 70vh;
  padding-top: 20px;
}

.location-data{
  font-size: 2rem;
}

.temp{
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250, 0.5);
  font-size: 2rem;
  font-weight: 500;
  box-shadow: 0px 5px rgb(0, 0, 0, 0.5);
}

.data{
  color: white;
  text-align: center;
  text-shadow: 3px 0px rgb(50, 50, 70, 0.75);
}

.weather-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}


